body {
  background: sandybrown;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

#homeContent {
	margin-top: 150px;
}

.home {
  padding: 20px 0 20px 20px;
  border: 1px solid #eee;
}

.homeAddress {
  float: left;
  margin: 2em 1em 1em;
  font-size: 1.2em;
}

.saves {
  padding-top: 10px;
  font-weight: bold;
}

.saves form {
  display: inline;
  margin-right: 10px;
}

#donationContent a {
  color: #4183c4;
  text-decoration: none;
}
#donationContent a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.visible {
  display: inline;
  margin-left: 10px;
}

.invisible {
  display: none;
}

.anyValue {
  margin-left: 5px;
}

.error, .error_container {
	color: crimson;
	font-weight: bold;
}